.modal-head {
  padding: 0 10px;

  .icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.modal-footer {
  display: flex;

  .btn {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0.3rem .6rem;
    border: 1px solid #1ed760;
    background-color: #ffffff;
  }

  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .Buy_buy-btns__-wapt button {
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #1ed760;
    margin-bottom: 1rem;
    text-align: center;
    transition: all .3s ease;
  }
}
 .form-modal{
   background-color: #f5f7fd!important;
   border-radius: 5px;
 }
.van-row{
  .lable{
    flex: none;
    box-sizing: border-box;
    width: var(--van-field-label-width);
    margin-right: var(--van-field-label-margin-right);
    text-align: left;
    word-wrap: break-word;
    color: #b8babc;
    padding: 5px 0;
  }
  padding: var(--van-cell-vertical-padding) var(--van-cell-horizontal-padding);
}
.text-area{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

