body {margin:0px; padding:0px; color:rgb(34, 34, 34); font-family:Helvetica,"Hiragino Sans GB","Microsoft YaHei",Simsun,"Droid Sans Fallback",sans-serif; text-decoration:none; background:#fff;-webkit-tap-highlight-color:rgba(0,0,0,0); }
body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,h7,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0px; padding:0px;}
ul{list-style:none;}
li{list-style:none;}
body{

}
img {border:0px currentColor;vertical-align:top;}
ol {list-style:none; margin:0px; padding:0px;}
a{color:rgb(0, 0, 0); text-decoration:none;}
.fl{
    float: left;
}
.fr{
    float: right;
}
.color-red{
    font-style: normal;
    color: red!important;
}
.color-gold{
    font-style: normal;
    color: #f8d070!important;
 }
.color-green{
    font-style: normal;
    color: #00c000!important;
}
.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
