<template>
    <div style="padding-top: 1px;margin-bottom: 30px">
        <div class="hidden-xs">
            <div id="main-nav" style="z-index: 10000 !important; position: static !important" class="main-nav">
                <a href="/" style="padding-right: 2.5%; color: white; font-size: 1.4em;">
                    <span style="color: crimson">H</span>anime1<span style="color: crimson">.</span>me
                </a>
                <a class="nav-item hidden-xs">H動漫</a>
                <a class="nav-item hidden-xs hidden-sm">新番預告</a>
                <a class="nav-item hidden-xs hidden-sm">番劇</a>
                <a class="nav-item hidden-xs">3D動畫</a>
                <a class="nav-item hidden-xs">同人作品</a>
                <a class="nav-item hidden-xs">Cosplay</a>
                <a class="nav-item hidden-xs">H漫畫</a>
                <a class="nav-item hidden-xs hidden-sm">我的清單</a>
                <a class="nav-item hidden-xs hidden-sm" target="_blank">PornDude</a>

                <a style="padding-right: 0px" class="nav-icon pull-right"><span style="vertical-align: middle;" class="material-icons">account_circle</span></a>
                <a class="nav-icon pull-right"><span style="vertical-align: middle;" class="material-icons">search</span></a>
                <a class="nav-icon pull-right"><span style="vertical-align: middle;" class="material-icons">video_call</span></a></div>	</div>
        <div id="search-top-nav-mobile" class="hidden-sm hidden-md hidden-lg" style="padding: 0 15px; height: 68px; position: fixed; z-index: 1000; background-color: #141414; width: 100%;margin-top: -1px">
            <a class="hover-opacity" @click="router.push('/')" style="color: white; line-height: 68px; text-decoration: none;">
                <img height="30" src="https://i.imgur.com/PTFz5Ej.png">
            </a>

            <form id="search-form" style="display: inline-block; margin-left: 8px; width: calc(100% - 74px); position: relative;">
                <div id="nav-search-btn" class="search-btn"><i style="margin-top: 4px; margin-left: 5px; color: white; font-size: 21px; font-weight: bold;" class="material-icons" @click="toSearch">search</i></div>
                <input id="nav-query" style="width: 100%" class="search-nav-bar" type="text" v-model="searchKey" placeholder="搜索">
            </form>

            <a style="padding-right: 0px; line-height: 68px; color: white;" class="nav-icon pull-right" @click="router.push('/member')"><span style="vertical-align: middle; font-size: 36px; margin-top: -1px;" class="material-icons">account_circle</span></a>
        </div>
        <div style="overflow-x: hidden;">

            <form id="hentai-form">
                <div id="search-nav-wrapper" style="display: flex;justify-content: flex-end">
                    <div class="no-select hidden-xs" style="display: inline-block; position: relative;">
                        <div id="search-btn" class="search-btn"><i @click="search" style="margin-top: 12px; margin-left: 12px; color: white; font-size: 20px; font-weight: bold;" class="material-icons">search</i></div>
                        <input v-model="keyWords" id="query" name="query" class="search-nav-bar" type="text" placeholder="搜索">
                    </div>
                </div>
            </form>
        </div>
        <div class="search-pagination" v-if="!isloading&&list.length">
            <van-pagination
                    v-model="currentPage"
                    :total-items="total"
                    :show-page-size="3"
                    :items-per-page="60"
                    @change="getList"
                    force-ellipses
            >
                <template #prev-text>
                    <van-icon name="arrow-left" />
                </template>
                <template #next-text>
                    <van-icon name="arrow" />
                </template>
            </van-pagination>
        </div>
        <div class="list">
            <van-grid :column-num="2" :gutter="10" :border="false">
                <van-grid-item v-for="(item,index) in list" :key="index" @click="toWatch(item)">
                    <div class="video-title">
                        <img v-lazyload="item.imgUrl" />
                        <div style="position: absolute; height: 25px; width: 100%; bottom: 0px; background: linear-gradient(to bottom, transparent 0%, black 120%);">
                            <div style="float: left; line-height: 25px; font-weight: 400">
                                <span style="font-size: 15px; color: white; padding-left: 7px; padding-right: 3px; vertical-align: middle; margin-top: -8px; font-weight: 400;" class="material-icons-outlined">smart_display</span>
                                <span style="font-size: 10px; color: white;">{{item.playCount}}观看</span>

                                <span style="font-size: 13px; color: white; padding-left: 10px; padding-right: 5px; vertical-align: middle; margin-top: -8px; transform: scale(1.25,1); font-weight: 400" class="material-icons-outlined">wysiwyg</span>
                                <span style="font-size: 10px; color: white;">{{item.zan}}赞</span>
                            </div>
                            <div style="float: right; color: white; font-size: 10px; font-weight: 400; padding: 0px 6px; border-radius: 2px; z-index: 1; line-height: 25px;">
                                {{item.playTime}}
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 6px; padding: 0 8px;">
                        <div style="text-decoration: none; color: black;">
                            <a style="text-decoration: none; font-size: inherit;">
                                <div style="font-size: 0.895em; line-height: 18px; color: white; overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-weight: 400; height: 35px">{{item.title}}</div>
                            </a>

                            <div style="margin-top: 7px; padding-bottom: 7px; font-weight: 400">
                                <span class="card-mobile-genre" style="color: rgba(245, 171, 53, 1); border-color: rgba(245, 171, 53, 0.30);">{{item.videoType_dictText}}</span>
                                <span style="font-size: 12px; color: dimgray;" class="inner">{{item.payMode_dictText}}</span>
                            </div>
                        </div>
                    </div>
                </van-grid-item>
            </van-grid>
        </div>
        <div class="noresult" v-if="!isloading&&!list.length">
            <img src=".././../assets/images/doge.png">
            <p>暂无相关内容</p>
        </div>
        <div class="search-pagination" v-if="!isloading&&list.length">
            <van-pagination
                    v-model="currentPage"
                    :total-items="total"
                    :show-page-size="3"
                    :items-per-page="60"
                    @change="getList"
                    force-ellipses
            >
                <template #prev-text>
                    <van-icon name="arrow-left" />
                </template>
                <template #next-text>
                    <van-icon name="arrow" />
                </template>
            </van-pagination>
        </div>
    </div>
</template>

<script>
    import { reactive, onMounted, toRefs, nextTick,ref } from 'vue'
    import {getListByCategory} from "../../api/page"
    import {useRouter,useRoute} from 'vue-router'
    import {Toast} from 'vant'

    export default {
        name: "index",
        setup(){
            const state=reactive({currentPage:1,list:[],total:0,isloading:false,id:'',searchKey:''})
            const router = useRouter()
            const route = useRoute();
            const getList=()=>{
                if (state.isloading)
                {
                    return
                }
                state.isloading=true
                state.list=[]
                Toast.loading({
                    duration: 0,
                    message: 'Loading...',
                    forbidClick: true,
                });
                getListByCategory({
                    "categoryId":'',
                    "sort":1,
                    "parentId":state.id,
                    "page":state.currentPage,
                    "limit":60
                }).then((res)=>{
                    if (res.code==0)
                    {
                        state.list=res.result.records
                        state.total=res.result.total
                        state.isloading=false
                        console.log(state.list,'state.list')
                    }
                })
            }
            const search=()=>{
                state.currentPage=1
                getList()
            }
            const toWatch=(item)=>{
                router.push({ path: `/watch/${item.id}` })
            }
            const toSearch=()=>{
                router.push({ path: `/searchVideo/${state.searchKey}` })
            }
            if (route.params.id)
            {
                state.id=route.params.id
            }
            getList()
            return {
                ...toRefs(state),
                getList,
                search,
                toWatch,
                router,
                toSearch
            }
        }
    }
</script>

<style scoped lang="less">
    .search-nav-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 68px;
    }
    .search-pagination{
        padding: 0 20px;
        margin-top: 68px;
        /deep/ .van-pagination{
            .van-pagination__item{
                background-color: #2c2c2c;
                border-color:#2c2c2c;
                color:#ffffff;
                border: none!important;
                margin: 5px;
            }
            .van-pagination__item::after{
                border: none;
            }
            .van-pagination__item--active{
                background-color: #dc143c;
                border-color: #dc143c;
            }
        }
    }
    .list{
        padding: 0 5px;
        margin-top: 10px;
        .van-grid-item{
            margin-bottom: 10px;
        }
        /deep/ .van-grid-item__content{
            padding: 0 0!important;
            background: transparent;
            .video-title{
                position: relative;
            }
            img{
                width: 100%;
            }
        }
    }
    .noresult{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        img{width: 3rem}
        p{
            width: 100%;
            color: #8e9194;
            font-size: 14px;
            text-align: center;
        }
    }
    /deep/.van-pagination__item{
        flex: none!important;
    }
    /deep/.van-pagination{
        display: flex;
        justify-content: center;
    }
    @media (max-width: 991px){
        /deep/ .van-grid-item{
            flex-basis: 50%!important;
        }
        /deep/.video-title img{
            height: 105px;
        }
    }
    @media only screen and (min-width: 992px) and (max-width:1299px){
        /deep/ .van-grid-item{
            flex-basis: 25%!important;
        }
        .search-pagination{
            margin-top: 10px;
        }
        .list{
            margin: 0 auto;
            padding: 0 4%;
            margin-top: 10px;
        }
        /deep/.video-title img{
            height:135px;
        }
    }
    @media (min-width: 1699px)
    {
        /deep/ .van-grid-item{
            flex-basis: 20%!important;
        }
        .search-pagination{
            margin-top: 10px;
        }
        .list{
            margin: 0 auto;
            padding: 0 4%;
            margin-top: 10px;
        }
        /deep/.video-title img{
            height:135px;
        }
    }
</style>
