<template>
  <div>
    <common-header/>
    <div id="player-div-wrapper" class="col-md-9 single-show-player fluid-player-desktop-styles" style="background-color: #141414; position: relative; overflow-y: hidden;">
      <player :is-vip="isVip" v-if="videoInfo.videoUrl" :video-info="videoInfo"></player>
      <div id="mobile-ad" v-if="adv1&&advList[0]" class="hidden-md hidden-lg"
           style="text-align: center; padding-top: 5px; padding-bottom: 0px;background-color: black; position: relative;">
        <a :href="advList[0].hrefUrl">
          <img :src="config.resUrl+advList[0].imgUrl">
        </a>
        <div id="close-mobile-ad-btn"
             style="position: absolute; top: 5px; right: 1px; cursor: pointer; border: 1px solid white;"><i
                style="vertical-align: middle; color: white;" class="material-icons" @click="adv1=false">close</i></div>
      </div>
      <div class="video-show-panel-width">
        <div style="margin-bottom: -6px;">
          <p style="font-size: 12px; color: #bdbdbd; font-weight: 500">{{ formatDate(videoInfo.createTime) }}<span
                  style="font-weight: normal;">&nbsp;|&nbsp;</span> {{ videoInfo.playCount }}次點閱</p>
        </div>

        <h3 id="shareBtn-title"
            style="line-height: 30px; font-weight: bold; font-size: 1.5em; margin-top: 0px; color: white;">
          {{ videoInfo.title }}</h3>

        <h5 id="show-more-caption" class="no-select"
            style="margin-bottom: 25px; color: #fff; font-weight: 400; font-size: 12px; cursor: pointer;">
          顯示完整資訊</h5>
        <div class="buy-wrap">
          <van-button v-if="!videoInfo.isPay&&(!isVip)" round size="small" type="success" @click="showOder=true">付费购买</van-button>
          <van-button v-if="videoInfo.isPay&&(!isVip)" round size="small" type="success" disabled>已购买</van-button>
          <van-button color="#1A1D31" style="margin-left: 10px" round type="primary" size="small">
            <svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-2"
                 style="display: inline-block;vertical-align: middle;color: #ff8382">
              <path
                      d="M484.266667 272.021333l6.634666 6.72c5.973333 5.973333 13.013333 12.842667 21.098667 20.629334l9.194667-8.917334c7.253333-7.04 13.44-13.184 18.56-18.432a193.28 193.28 0 0 1 277.44 0c75.904 77.525333 76.629333 202.794667 2.133333 281.194667L512 853.333333 204.672 553.237333c-74.474667-78.421333-73.770667-203.690667 2.133333-281.216a193.28 193.28 0 0 1 277.44 0z"
                      fill="currentColor"></path>
            </svg>
            {{ videoInfo.zan }}
          </van-button>
        </div>
        <h5 style="font-weight: 400; margin-bottom: 0px; margin-top: 0px;">
          <div v-for="(item,index) in videoInfo.tagIds" class="single-video-tag"><a
                  @click="goSearch(item)">{{ item }}</a></div>
          <div class="single-video-tag" data-toggle="modal" data-target="#signUpModal"
               style="position: relative; cursor: pointer; "><a
                  style="padding-left: 15px; padding-right: 15px;"><span class="material-icons"
                                                                         style="position: absolute; margin-left: auto; margin-right: auto; left: -3px; right: 0; text-align: center; margin-top: -4px; font-size: 22px; vertical-align: middle">add</span></a>
          </div>
          <div class="single-video-tag" data-toggle="modal" data-target="#signUpModal"
               style="position: relative; cursor: pointer; "><a
                  style="padding-left: 15px; padding-right: 15px;"><span class="material-icons"
                                                                         style="position: absolute; margin-left: auto; margin-right: auto; left: -2px; right: 0; text-align: center; margin-top: -4px; font-size: 22px; vertical-align: middle">remove</span></a>
          </div>
        </h5>

        <div id="video-like-form-wrapper" style="display: inline-block; position: absolute;">
          <div data-toggle="modal" data-target="#signUpModal"
               style="text-decoration: none; color: inherit; text-align: center; cursor: pointer;"
               class="single-icon-wrapper">
            <div class="single-icon no-select">
              <i @click="updateCollect" style="padding-top: 8px; font-size: 20px" :class="isCollect?'like':'unlike'" class="material-icons">favorite_border</i>
            </div>
          </div>
        </div>

        <div id="video-save-form-wrapper" style="display: inline-block; position: absolute;" title="儲存">
          <div data-toggle="modal" data-target="#signUpModal"
               style="text-decoration: none; color: inherit; text-align: center; cursor: pointer;"
               class="single-icon-wrapper">
            <div class="single-icon no-select">
              <i style="padding-top: 7px; font-size: 21px; color: white" class="material-icons">add_circle_outline</i>
            </div>
          </div>
        </div>

        <div style="position: absolute; cursor: pointer; display: inline-block; cursor: pointer;" id="shareBtn"
             class="single-icon-wrapper" data-toggle="modal" data-target="#shareModal" title="分享">
          <div class="single-icon no-select">
            <i class="material-icons noselect"
               style="font-size: 19px; padding-top: 8px; padding-left: 7px; color: white">share</i>
          </div>
        </div>

        <a
                style="position: absolute; cursor: pointer; display: inline-block; cursor: pointer;" id="downloadBtn"
                class="single-icon-wrapper" title="下載">
          <div class="single-icon no-select">
            <i class="material-icons noselect"
               style="font-size: 23px; padding-top: 7px; padding-left: 6px; color: white">download</i>
          </div>
        </a>

        <div style="position: absolute; cursor: pointer; display: inline-block; cursor: pointer;" id="reportBtn"
             class="single-icon-wrapper" data-toggle="modal" data-target="#reportModal" title="報錯">
          <div class="single-icon no-select">
            <i class="material-icons noselect"
               style="font-size: 21px; padding-top: 7px; padding-left: 7px; color: white">outlined_flag</i>
          </div>
        </div>

        <div id="complainBtn" style="position: absolute; margin-top: 10px; cursor: pointer;">
          <a style="color: #8c8c8c; font-size: 12px">舉報</a>
        </div>
      </div>
      <div class="relate-wrap mobile-padding">
        <div class="adv2" v-if="adv2&&advList[1]">
          <a :href="advList[1].hrefUrl">
            <img :src="config.resUrl+advList[1].imgUrl">
          </a>
        </div>
        <h5>相关影片</h5>
        <ul>
          <li @click="goToVideo(item)" v-for="(item,index) in relateList" :key="index">
            <div class="home-rows-videos-div">
              <img v-lazyload="item.imgUrl" style="width: 100%">
              <div class="home-rows-videos-title">{{ item.title }}</div>
            </div>
          </li>
        </ul>
        <!-- <div v-if="isLoadMore" @click="loadMore" class="load-more-related-btn related-watch-wrap hidden-md hidden-lg">更多相關影片</div>-->
        <div class="adv3" v-if="adv3&&advList[2]">
          <a :href="advList[2].hrefUrl">
            <img :src="config.resUrl+advList[2].imgUrl">
          </a>
        </div>
      </div>
      <van-popup class="form-modal" v-model:show="showOder" style="width:calc(100% - 10px)">
        <div class="modal-head">
          <h5>购买影片</h5>
          <div class="icon" @click="showOder=false">
            <van-icon name="cross" size="20"/>
          </div>
        </div>
        <p class="video-info">购买影片:{{videoInfo.title}}影片编号:{{videoInfo.id}}</p>
        <div class="modal-body">
          <div class="form">
            <van-cell-group inset>
              <div class="van-row">
                <span class="lable">价格</span>
                <div class="text-area">{{videoInfo.payCoin}}</div>
              </div>
              <div class="van-row">
                <span class="lable">余额变动</span>
                <div class="text-area">{{store.state.userInfo.balance}}-{{videoInfo.payCoin}}={{store.state.userInfo.balance-videoInfo.payCoin}}<van-button @click="getCoin" type="default">购买钻石</van-button></div>
              </div>
            </van-cell-group>
          </div>
        </div>
        <div class="modal-footer">
          <van-button block type="success" @click="orderByCoin">购买{{videoInfo.payCoin}}</van-button>
        </div>
      </van-popup>
      <van-popup class="form-modal" v-model:show="showCoin" style="width:calc(100% - 10px)">
        <div class="modal-head">
          <h5>购买钻石</h5>
          <div class="icon" @click="showCoin=false">
            <van-icon name="cross" size="20"/>
          </div>
        </div>
        <div class="modal-body">
          <van-grid :gutter="10" column-num="3">
            <van-grid-item v-for="(item,index) in coinList" :key="index" @click="selectOrder(item)">
              <p class="color-yellow">钻石{{item.coins}}</p>
              <p>￥{{item.price}}</p>
            </van-grid-item>
          </van-grid>
        </div>
      </van-popup>
      <van-popup v-model:show="showChannel" style="width:calc(100% - 10px)">
        <div class="modal-head">
          <h5>购买</h5>
          <div class="icon" @click="showChannel=false">
            <van-icon name="cross" size="20"/>
          </div>
        </div>
        <div class="modal-body">
          <van-cell-group inset>
            <van-field label="钻石" v-model="goods.coins" readonly/>
            <van-field label="价格" v-model="goods.price" readonly/>
          </van-cell-group>
        </div>
        <div class="modal-footer">
          <button @click="paySubmit(item)" v-for="(item,index) in channelList" :key="index" class="btn"><img
                  width="20" class="mr-2"
                  :src="config.resUrl+item.imgUrl"><span>{{item.title}}</span>
          </button>
        </div>
      </van-popup>
      <van-popup class="form-modal" v-model:show="showStatu" style="width:calc(100% - 10px)">
        <div class="modal-head">
          <h5>订单状态</h5>
          <div class="icon" @click="showStatu=false">
            <van-icon name="cross" size="20"/>
          </div>
        </div>
        <div class="modal-body">
          <div class="form">
            <van-cell-group inset>
              <div class="van-row">
                <span class="lable">产品</span>
                <div class="text-area">{{goods.coins}}</div>
              </div>
              <div class="van-row">
                <span class="lable">价格</span>
                <div class="text-area">{{goods.price}}</div>
              </div>
            </van-cell-group>
          </div>
        </div>
        <div class="modal-footer">
          <van-button block type="success" @click="orderByCoin">购买{{videoInfo.payCoin}}</van-button>
        </div>
      </van-popup>
    </div>
    <div class="col-md-3 adv-box single-show-list hidden-xs hidden-sm" style="margin-top: 1.33333rem">
      <div class="hidden-xs hidden-sm" style="" v-for="(item,index) in advList" :key="index">
        <div class="adv-box" style="text-align: left; padding-left: 5px; padding-top: 5px; margin-top: 15px; margin-bottom: 10px; padding-bottom: 0px; width: 310px;background-color: #3a3c3f;">
          <div style="margin-bottom: 5px; color: white; font-size: 12px;">點點廣告，贊助我們（●´∀｀）ノ♡</div>
          <a :href="item.hrefUrl">
            <img :src="config.resUrl+item.imgUrl">
          </a>
        </div>
      </div>
    </div>
    <div style="clear: both">

    </div>
    <div style="width: 100%;">
      <copy-right></copy-right>
      <about></about>
    </div>
  </div>
</template>

<script>
import {reactive, onMounted, computed, toRefs, nextTick, ref, watch} from 'vue'
import {getVideoInfo, getRelate, orderVideo, getCoinItem, getChannelList, payOrder,getCategory} from "../../api/page";
import {GetUserInfo,getCollect,updatetCollect} from '../../api/user'
import {Local} from "../../utils/common";
import {useRoute, useRouter} from 'vue-router'
import {formatDate} from "../../utils/common";
import headerNav from '@/components/header/header-nav'
import {Toast} from 'vant'
import {useStore} from 'vuex'
import player from "../../components/player/player";
import {getADVList} from "../../api/page";
import commonHeader from '@/components/common-header.vue'
import copyRight from '@/components/copy-right/copy-right.vue'
import about from '@/components/about/about.vue'
import { Notify } from 'vant';



export default {
  name: "index",
  components: {headerNav, player,commonHeader,copyRight,about},
  setup() {
    const state = reactive({
      videoInfo: {},
      relateList: [],
      page: 1,
      limit: 10,
      total: null,
      isLoadMore: true,
      isLoading: false,
      isVip: false,
      adv1:true,
      adv2:true,
      adv3:true,
      advList:[],
      collectList:[],
      isCollect:false,
      showOder:false,
      showCoin:false,
      coinList:[],
      showChannel:false,
      channelList:[],
      goods: {
        price: '',
        coins: '',
        id: ''
      },
      showStatu:false,
      category:[]
    })
    const router = useRouter()
    const route = useRoute();
    let {id} = route.params;
    const store = useStore()
    const videoElement = ref(null)
    const userInfo = computed(() => {
      return store.state.userInfo
    })
    const config = computed(() => {
      return store.state.config
    })
    const getVideo = async () => {
      await GetUserInfo({userId: Local.get('accessToken'), isUpdate: true}).then((res) => {
        if (res.success) {
          state.isVip = res.result.isVip
        }
      });
      getVideoInfo({
        "id": id,
      }).then((res) => {
        if (res.success)
        {
          state.videoInfo = res.result
          console.log(state.videoInfo,'state.videoInfo')
          state.videoInfo.tagIds = res.result.tagIds.split(',')
          state.isLoading = false
        }
      })
    }
    const loadMore = () => {
      state.page++
      if (state.page >= parseInt(state.total / state.limit) + 1) {
        state.isLoadMore = false
        return
      }
      getList()
    }
    const getList = () => {
      getRelate({
        "videoId": id,
        "limit": "10"
      }).then((res) => {
        if (res.code == 0) {
          if (res.success) {
            state.relateList = state.relateList.concat(res.result)
            state.total = res.result.total
          }
        }
        Toast.clear('all')
      })
    }
    const goSearch = (key) => {
      router.push({path: `/searchVideo/${key}`})
    }
    const orderByCoin = () => {
      if (store.state.userInfo.balance-state.videoInfo.payCoin<=0)
      {
        Notify('余额不足!');
        return
      }
      Toast.loading({
        duration: 0,
        message: 'Loading...',
        forbidClick: true,
      });
      orderVideo({
        userId: store.state.userInfo.id,
        videoId: id
      }).then((res) => {
        if (res.success) {
          Notify({ type: 'success', message: '购买成功!' });
        }
      })
    }
    const goToVideo = (item) => {
      router.push({path: `/watch/${item.id}`})
    }
    const getCollectList=()=>{
      getCollect({userId:store.state.userInfo.id||Local.get('accessToken')}).then((res)=>{
        if (res.success)
        {
          if (res.result&&res.result.favIds)
          {
            state.collectList=res.result.favIds||[]
            state.isCollect=state.collectList.indexOf(id)>-1
          }
        }
      })
    }

    const updateCollect=async ()=>{
      if (state.collectList.indexOf(id)==-1)
      {
        state.collectList.push(id)
      }
      else {
        state.collectList.splice(state.collectList.indexOf(id),1)
      }
       await updatetCollect({"userId":store.state.userInfo.id||Local.get('accessToken'),"favIds":state.collectList}).then((res)=>{
         if (res.success)
         {
           Toast.success(state.isCollect?'取消收藏成功!':'收藏成功!');
         }
        })
        getCollectList()
    }
    const getCoin=()=>{//获取钻石列表
      Toast.loading({
        duration: 0,
        message: 'Loading...',
        forbidClick: true,
      });
        getCoinItem().then((res) => {
          if (res.success) {
            state.coinList = res.result
            state.showCoin=true
          }
          Toast.clear('all')
        })
    }
    const selectOrder=(item)=>{
      state.showChannel=true
      state.goods.price =item.price
      state.goods.coins =item.coins
      state.goods.id = item.id
      Toast.loading({
        duration: 0,
        message: 'Loading...',
        forbidClick: true,
      });
      getChannelList().then((res) => {
        if (res.success)
        {
          state.channelList = res.result
        }
        Toast.clear('all')
      })
    }
    const paySubmit = (item) => {
       state.showOder=false
      state.showCoin=false
      state.showChannel=false
      let winOpen = window.open("", "_blank");
      Toast.loading({
        duration: 0,
        message: 'Loading...',
        forbidClick: true,
      });
      payOrder({
        "userId": store.state.userInfo.id||Local.get('accessToken'),
        "itemId": state.goods.id,
        "type": '0',
        "channelId": item.id
      }).then((res) => {
        if (res.success)
        {
          winOpen.location='http://api.uzhuang.com/api/pay/page?token='+res.result
        }
        else {
          winOpen.close()
        }
        Toast.clear('all')
      })
    }
    getList()
    getVideo()
    getCollectList()
    getCategory().then((res)=>{//获取分类
      if (res.success)
      {
        state.category=res?.result
      }
    })
    watch(() => route.path, () => {
        state.isLoading = true
        state.videoInfo.videoUrl = ''
        id = route.params.id
        getVideo()
        getList()
        getCollectList()
    })
    getADVList({"type": "3"}).then((res) => {
      if (res.success)
      {
        state.advList=res.result
      }
    })
    return {
      ...toRefs(state),
      videoElement,
      formatDate,
      loadMore,
      goSearch,
      orderByCoin,
      userInfo,
      router,
      goToVideo,
      config,
      updateCollect,
      store,
      getCoin,
      selectOrder,
      paySubmit
    }
  }
}
</script>

<style scoped lang="less">
.relate-wrap {
  margin-top: 15px;
  h5{
    color: #ffffff;
  }
  .adv2,.adv3{
    width: 100%;
    img{
      width: 100%;
    }
  }
  ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    li {
      width: 33.3333%;
      height: 180px;
      padding: 0 2px;
      margin-bottom: 10px;

      .home-rows-videos-div {
        width: 100%;
        height: 100%;
        position: relative;
        margin-bottom: 15px
      }

      .home-rows-videos-title {
        position: absolute;
        bottom: 0;
        left: 0;
        white-space: initial;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        color: white;
        width: 100%;
        padding: 3px 3px;
        background: linear-gradient(to bottom, transparent 0%, black 120%);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
    li:hover, li img:hover {
      opacity: .8;
    }
  }
  @media (min-width: 991px)
  {
    ul li{
      width: 25%;
    }
  }
  .load-more-related-btn {
    font-weight: 400 !important;
    margin-top: 10px;
  }
}

.buy-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.no-vip {
  height: 314px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  .over-layer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);

    p {
      font-size: .4rem;
      color: #ffffff;
      margin-bottom: 10px;
    }

  }

  img {
    width: 100%;
    height: 100%;
  }
}
#mobile-ad{
  a{
    display: block;
    width: 100%;
    img{
      width: 100%;
    }
  }
}
  .like{
    color: rgb(255, 131, 130);
  }
  .unlike{
    color: white;
  }
.video-info{
  padding: 0 10px;
}
  .form{
    background-color: #ffffff;
   /deep/ .van-cell__title label{
      color:#b8babc ;
    }
  }
  .modal-body{
   /deep/.van-grid-item__content {
      border-radius: 5px;
      background-size: 100% auto;
      .van-button {
        background-color: transparent;
        color: #ffffff;
        border-color: #ffffff;
        margin-top: 10px;
        width: 100%;
      }
    }
  /deep/.van-grid-item__content{
      display: flex;
      align-items: center;
      background-image: url("../../assets/images/icon_diamond.png");
      justify-content:space-between;
      height: 2.75rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
   /deep/.van-grid-item__content--surround:after {
      border-width: 0;
    }
  }
  .adv-box img{
    width: 100%;
  }
  .nav-item{
    cursor: pointer;
  }
</style>
