<template>
    <div>
        <div class="hidden-md hidden-lg" style="padding: 15px;">
            <h2 style="color: white; font-weight: bold; margin-top: 0px"><span style="color: crimson">H</span>anime1<span style="color: crimson">.</span>me</h2>
            <div style="display: inline-block"><a style="color: gray">關於</a></div> -
            <div style="display: inline-block"><a style="color: gray">廣告</a></div> -
            <div style="display: inline-block"><a style="color: gray">聯絡</a></div> -
            <div style="display: inline-block"><a style="color: gray">服務條款</a></div> -
            <div style="display: inline-block"><a style="color: gray">社群規範</a></div> -
            <div style="display: inline-block"><a style="color: gray">版權申訴</a></div> -
            <div style="display: inline-block"><a style="color: gray">DMCA</a></div> -
            <div style="display: inline-block"><a style="color: gray">2257</a></div> -
            <div style="display: inline-block"><a style="color: gray" href="#">hm-app1</a></div>
        </div>
        <div class="row hidden-xs hidden-sm hidden-md footer" style="padding: 50px 4%;">
            <div class="col-md-4" style="width: calc(2 / 7 * 100% - 2px)">
                <h1 style="color: white; font-weight: bold; margin-top: 0px"><span style="color: crimson">H</span>anime1<span style="color: crimson">.</span>me</h1>
            </div>
            <div class="col-md-2" style="text-align: center; width: calc(1 / 7 * 100% - 2px)">
                <div><a href="/about">關於</a></div>
                <div><a href="/contact">廣告</a></div>
                <div><a href="/contact">聯絡</a></div>
            </div>
            <div class="col-md-2" style="text-align: center; width: calc(1 / 7 * 100% - 2px)">
                <div><a href="/terms">服務條款</a></div>
                <div><a href="/policies">社群規範</a></div>
                <div><a href="/copyright">版權申訴</a></div>
            </div>
            <div class="col-md-2" style="text-align: center; width: calc(1 / 7 * 100% - 2px)">
                <div><a href="/terms">服務條款</a></div>
                <div><a href="/policies">社群規範</a></div>
                <div><a href="/copyright">版權申訴</a></div>
            </div>
            <div class="col-md-2" style="text-align: center; width: calc(1 / 7 * 100% - 2px)">
                <div><a href="/copyright">DMCA</a></div>
                <div><a href="/2257">2257</a></div>
                <div><a href="#">hm-app1</a></div>
            </div>
            <div class="col-md-2" style="text-align: center; width: calc(1 / 7 * 100% - 2px)">
                <img style="width: 80px" src="https://i.imgur.com/aJ6decG.gif">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "about"
    }
</script>

<style scoped>

</style>
