<template>
    <div>
        <common-header/>
        <div class="banner" v-if="banner.id">
            <img class="banner-img" :src="`${config.resUrl}${banner.url}`">
            <div class="banner-link">
                <h3><span style="color: crimson">H</span>anime1<span
                        style="color: crimson">.</span>me</h3>
                <h1>{{banner.title}}</h1>
                <h4>
                   {{banner.subTitle}}</h4>
                <div style="margin-top: 15px; width: 100%">
                    <div style="display: inline-block; margin-top: 5px;">
                        <a v-if="banner.position==1" :href="banner.link" class="hover-opacity-all home-banner-btn home-banner-play-btn play-btn" target="_blank"
                           style="cursor: pointer; font-size: 14px; border-radius: 3px; text-decoration: none; background-color: white; padding: 8px 22px 8px 12px; color: black;"><span
                                style="vertical-align: middle; font-size: 2em; margin-top: -3px; padding-right: 3px"
                                class="material-icons">play_arrow</span>播放</a>
                        <a v-else @click="goToVideo({id:banner.id})" class="hover-opacity-all home-banner-btn home-banner-play-btn play-btn" target="_blank"
                           style="cursor: pointer; font-size: 14px; border-radius: 3px; text-decoration: none; background-color: white; padding: 8px 22px 8px 12px; color: black;"><span
                                style="vertical-align: middle; font-size: 2em; margin-top: -3px; padding-right: 3px"
                                class="material-icons">play_arrow</span>播放</a>
                    </div>
                    <div style="display: inline-block; margin-top: 5px; padding-left: 2px;">
                        <a class="hover-opacity-all home-banner-btn home-banner-info-btn"
                           style="cursor: pointer; font-size: 14px; border-radius: 3px; text-decoration: none; background-color: gray; padding: 8px 21px 8px 17px; color: white; opacity: 0.8;"><span
                                style="vertical-align: middle; font-size: 1.66em; margin-top: -3px; padding-right: 4px"
                                class="material-icons">info</span>更多資訊</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrap">
            <div class="row" v-for="(item,index) in classList" :key="index">
                <h3 @click="toSearch(item.title)">{{item.title}}<span style="vertical-align: middle; margin-top: -2px; margin-left: 2px"
                                        class="material-icons">chevron_right</span></h3>
                <div class="list-scroll">
                    <div class="scroll-wrap">
                        <ul class="list clearfix">
                            <li v-for="(list,index) in item.list.records" @click="goToVideo(list)">
                                <img v-lazyload="list.imgUrl">
                                <p class="v-title">{{list.title}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
              <div class="list-ad" v-if="advList[index]">
                  <a :href="advList[index].hrefUrl">
                    <img :src="config.resUrl+advList[index].imgUrl">
                  </a>
              </div>
            </div>
        </div>
        <copy-right></copy-right>
        <about></about>
        <footer-bar/>
    </div>
</template>

<script>
    import {reactive, onMounted, toRefs, nextTick, computed} from 'vue'
    import {useRoute, useRouter} from 'vue-router'
    import {getBanner, getCategory, getHomeVideo, getHomeClass, getCryptImg, getADVList} from "../api/page";
    import {useStore} from 'vuex'
    import footerBar from '@/components/footer-bar/footer-bar'
    import commonHeader from '@/components/common-header.vue'
    import copyRight from '@/components/copy-right/copy-right.vue'
    import about from '@/components/about/about.vue'
    import {Toast} from 'vant'

    export default {
        name: 'home',
        components: {footerBar,commonHeader,copyRight,about},
        setup() {
            const store = useStore()
            const router = useRouter()
            const state = reactive({
                classList: [],
                show: false,
                banner:{
                    id:'',
                    url:'',
                    link:'',
                    position:2,
                    title:'',
                    subTitle:''
                },
              advList:[]
            });
            const goToVideo = (item) => {
                router.push({path: `/watch/${item.id}`})
            }
            const go=(path)=>{
              router.push({path:path})
            }
            const userInfo = computed(() => {
                return store.state.userInfo
            })
            const config = computed(() => {
                return store.state.config
            })
            const getVideo = (item) => {
                item.list = {
                    records: []
                }
                getHomeVideo({
                    "id": item.id,
                    "page": "1",
                    "limit": "10"
                }).then((res) => {
                    if (res.success)
                    {
                        item.list.records = res.result && res.result.records ? res.result.records : []
                        getCryptImg({url:item.list.records[0].imgUrl})
                    }

                })
            }
            getHomeClass({
                "limit": "10"
            }).then((res) => {
                if (res.success)
                {
                    if ( res.result&&res.result.indexCol)
                    {
                        state.classList = res.result.indexCol || []
                        state.classList.map((item) => {
                            let arryVideo = []
                            getVideo(item)
                        });
                    }
                }

            })
            onMounted(async () => {

            })

            nextTick(() => {
            })

            const goToDetail = (item) => {

            }

            const tips = () => {

            }
            const showPop = () => {

            }
            getBanner().then((res)=>{
                if (res.success&&res.result.length)
                {
                    console.log(res.result,'res.result')
                    state.banner.url=res.result[0].imgUrl||''
                    state.banner.link=res.result[0].hrefUrl||''
                    state.banner.position=res.result[0].position||2
                    state.banner.id=res.result[0].id||''
                    state.banner.title=res.result[0].title||''
                    state.banner.subTitle=res.result[0].subTitle||''
                }
            })
            const toSearch=(key)=>{
                router.push({ path: `/searchVideo/${key}` })
            }
          getADVList({"type": "2"}).then((res) => {
            if (res.success)
            {
              state.advList=res.result
              console.log(state.advList,'state.advList')
            }
          })
            return {
                ...toRefs(state),
                goToVideo,
                router,
                userInfo,
                config,
                go,
                toSearch
            }
        },
    }
</script>

<style lang="less" scoped>
    .banner-img {
        width: 100%;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    }

    .banner-link {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 96%;
        bottom: 35%;
        text-align: center;
        color: white;

        h3 {
            font-weight: bold;
            font-size: 20px;
        }

        h1 {
            font-size: 28px;
            font-weight: bold;
            margin: 0
        }

        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-height: 16px;
            font-size: 12px;
            width: 92%;
            margin-left: 4%;
        }
    }

    .video-wrap {
        .row {
            margin-top: 20px;
          .list-ad{
            width: 100%;
            margin-top: 10px;
            img{
              width: 100%;
            }
          }

            h3 {
                color: #fff;
                font-size: 16px;
                font-weight: 700;
            }

            padding: 0 15px;
        }

        padding: 0 15px;

        .list-scroll {
            width: 100%;
            overflow: scroll;

            .scroll-wrap {
                width: max-content;
            }

            .list {
                li {
                    float: left;
                    position: relative;
                    width: 116px;
                    height: 165px;
                    margin-right: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .v-title {
                        position: absolute;
                        padding: 0 5px;
                        font-size: 12px;
                        width: 100%;
                        bottom: 0;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .main-nav-home {
        z-index: 100 !important;
    }

    .dropdown-lay {
        z-index: 100;
        background-color: transparent;
    }

    .dropdown {
        position: absolute;
        z-index: 100;
        will-change: transform;
        top: 35px;
        right: 15px;
        width: 280px;
        padding: 0;
        border-radius: 3px;
        overflow: hidden;
        background-color: #ffffff;
        .cover {
            background: #fffeec;
            height: 130px;
            position: relative;
            overflow: hidden;
            z-index: -3;
        }

        .avatar {
            position: relative;
            width: 100px;
            left: 50%;
            border-radius: 0.5rem;
            margin-bottom: -30px;
            box-shadow: 2px 2px 16px 0 rgb(168 179 211 / 80%);
            transform: translate(-50%, -50%);
        }

        .account {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .5rem;
            font-weight: 500;
            color: #000;
        }

        .dropdown-item {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0.18rem .36rem;
            font-size: .4rem;
            color: #2a2824;
            border-left: 4px solid transparent;
            transition: all .3s;
            text-overflow: ellipsis;
            overflow: hidden;
            clear: both;
            font-weight: 300;
            svg{
                margin-right: 5px;
            }
        }
    }

    .dropdown:before {
        content: "";
        background: url('../assets/images/logo-bg.png');
        opacity: .7;
        background-size: 4.55rem;
        position: absolute;
        width: 400%;
        height: 200%;
        top: -50%;
        left: -100%;
        z-index: -2;
        transform: rotate(40deg);
    }

    .dropdown:after {
        content: "";
        background-color: hsla(0, 0%, 100%, .8);
        position: absolute;
        left: 0;
        top: 130px;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
</style>
