<template>
        <div  id="main-nav" class="main-nav-video-show">
            <a href="/" style="padding-right: 2.5%; color: white; font-size: 1.4em;">
                <span style="color: crimson">H</span>anime1<span style="color: crimson">.</span>me
            </a>
            <a class="nav-item hidden-xs"
               href="https://hanime1.me/search?genre=H動漫&amp;duration=&amp;sort=&amp;query=&amp;year=&amp;month=">H動漫</a>
            <a class="nav-item hidden-xs hidden-sm"
               href="https://hanime1.me/search?genre=H動漫&amp;tags%5B%5D=新番預告&amp;sort=">新番預告</a>
            <a class="nav-item hidden-xs hidden-sm"
               href="https://hanime1.me/search?genre=H動漫&amp;tags%5B%5D=番劇&amp;sort=">番劇</a>
            <a class="nav-item hidden-xs"
               href="https://hanime1.me/search?genre=3D動畫&amp;duration=&amp;sort=&amp;query=&amp;year=&amp;month=">3D動畫</a>
            <a class="nav-item hidden-xs"
               href="https://hanime1.me/search?genre=同人作品&amp;duration=&amp;sort=&amp;query=&amp;year=&amp;month=">同人作品</a>
            <a class="nav-item hidden-xs"
               href="https://hanime1.me/search?genre=Cosplay&amp;duration=&amp;sort=&amp;query=&amp;year=&amp;month=">Cosplay</a>
            <a class="nav-item hidden-xs" href="https://hanime1.me/comics">H漫畫</a>
            <a class="nav-item hidden-xs hidden-sm" href="https://hanime1.me/list">我的清單</a>
            <a class="nav-item hidden-xs hidden-sm" href="https://theporndude.com/zh" target="_blank">PornDude</a>

            <a style="padding-right: 0px" class="nav-icon pull-right" href="https://hanime1.me/list"><span
                    style="vertical-align: middle;" class="material-icons">account_circle</span></a>
            <a class="nav-icon pull-right" href="https://hanime1.me/search"><span style="vertical-align: middle;"
                                                                                  class="material-icons">search</span></a>
            <a class="nav-icon pull-right" href="https://hanime1.me/login"><span style="vertical-align: middle;"
                                                                                 class="material-icons">video_call</span></a>
        </div>
</template>

<script>
  export default {
     name:'headerNav'
  }
</script>

<style lang="less" scoped>
   .main-nav-video-show{
       z-index: 10000 !important; background-color: transparent;
   }
</style>
