<template>
    <div class="pull-right">
        <a style="padding-right: 0px" class="nav-icon pull-right" @click="show=true"><span
                style="vertical-align: middle;"
                class="material-icons">account_circle</span>
        </a>
        <van-overlay class="dropdown-lay" :show="show" @click="show = false">
            <div class="wrapper" @click.stop>
                <div class="dropdown">
                    <div class="cover"></div>
                    <img class="avatar" :src="`${config.resUrl}${userInfo.headUrl}`">
                    <p class="account">
                        {{userInfo.account}}
                        <svg viewBox="0 0 1024 1024" width=".74rem" height=".74rem" class="mx-1 active-color"
                             style="display: inline-block;">
                            <path d="M552.96 200.128a64 64 0 0 1 8.213333 8.213333L682.666667 354.133333l134.016-98.965333a64 64 0 0 1 100.117333 66.986667L789.333333 832H234.666667L107.2 322.176a64 64 0 0 1 100.117333-67.008L341.333333 354.133333l121.493334-145.792a64 64 0 0 1 90.154666-8.213333zM512 249.301333l-160.128 192.170667-182.570667-134.826667L284.629333 768h454.741334l115.328-461.354667-182.570667 134.826667L512 249.301333z m149.333333 400.64v68.266667H362.666667v-68.266667h298.666666z"
                                  fill="#b8babc"></path>
                        </svg>
                    </p>
                    <a class="dropdown-item pl-4" @click="go('/member')"><svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-3" style="display: inline-block;"><path d="M556.586667 159.36l288.490666 183.914667A64 64 0 0 1 874.666667 397.248v392.746667a64 64 0 0 1-64 64H555.456l0.021333-196.992H490.666667v196.992H234.666667a64 64 0 0 1-64-64v-398.293334a64 64 0 0 1 30.272-54.4l287.530666-178.346666a64 64 0 0 1 68.138667 0.426666zM810.666667 790.016V397.226667L522.197333 213.333333 234.666667 391.68v398.336h192v-197.013333h192.810666v196.992H810.666667z" fill="currentColor"></path></svg><span>我的主頁</span></a>
                    <a class="dropdown-item pl-4"><svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-3" style="display: inline-block;"><path d="M512 149.333333c200.298667 0 362.666667 162.368 362.666667 362.666667s-162.368 362.666667-362.666667 362.666667S149.333333 712.298667 149.333333 512 311.701333 149.333333 512 149.333333z m0 64c-164.949333 0-298.666667 133.717333-298.666667 298.666667s133.717333 298.666667 298.666667 298.666667 298.666667-133.717333 298.666667-298.666667-133.717333-298.666667-298.666667-298.666667z m84.053333 105.386667l45.226667 45.226667L557.269333 448H672v64h-128v53.333333h128v64h-128v85.333334h-64v-85.333334h-128v-64h128V512h-128v-64h114.752l-84.053333-84.053333 45.269333-45.226667L512 402.730667l84.053333-84.053334z" fill="currentColor"></path></svg><span>金币购买 (现有:</span></a>
                    <a class="dropdown-item pl-4"><svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-3" style="display: inline-block;"><path d="M552.96 200.128a64 64 0 0 1 8.213333 8.213333L682.666667 354.133333l134.016-98.965333a64 64 0 0 1 100.117333 66.986667L789.333333 832H234.666667L107.2 322.176a64 64 0 0 1 100.117333-67.008L341.333333 354.133333l121.493334-145.792a64 64 0 0 1 90.154666-8.213333zM512 249.301333l-160.128 192.170667-182.570667-134.826667L284.629333 768h454.741334l115.328-461.354667-182.570667 134.826667L512 249.301333z m149.333333 400.64v68.266667H362.666667v-68.266667h298.666666z" fill="currentColor"></path></svg><span>会员购买</span></a>
                    <a class="dropdown-item pl-4"><svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-3" style="display: inline-block;"><path d="M704 149.333333a64 64 0 0 1 64 64v597.333334a64 64 0 0 1-64 64H320a64 64 0 0 1-64-64V213.333333a64 64 0 0 1 64-64h384z m0 64H320v597.333334h384V213.333333z m-192 469.333334a42.666667 42.666667 0 1 1 0 85.333333 42.666667 42.666667 0 0 1 0-85.333333z m85.333333-437.333334v64h-170.666666v-64h170.666666z" fill="currentColor"></path></svg><span>会员购买</span></a>
                    <a class="dropdown-item pl-4"><svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-3" style="display: inline-block;"><path d="M644.8 581.568l160.64 187.456a64 64 0 0 1-48.597 105.643H267.157a64 64 0 0 1-48.597-105.643l160.661-187.435a253.813 253.813 0 0 0 61.206 26.944l-173.27 202.134h489.686l-173.27-202.134a254.613 254.613 0 0 0 61.227-26.965zM512 149.333c117.824 0 213.333 95.51 213.333 213.334S629.824 576 512 576s-213.333-95.51-213.333-213.333S394.176 149.333 512 149.333z m0 64A149.333 149.333 0 1 0 512 512a149.333 149.333 0 0 0 0-298.667z" fill="currentColor"></path></svg><span>绑定手机号</span></a>
                    <a class="dropdown-item pl-4"><svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-3" style="display: inline-block;"><path d="M644.8 581.568l160.64 187.456a64 64 0 0 1-48.597 105.643H267.157a64 64 0 0 1-48.597-105.643l160.661-187.435a253.813 253.813 0 0 0 61.206 26.944l-173.27 202.134h489.686l-173.27-202.134a254.613 254.613 0 0 0 61.227-26.965zM512 149.333c117.824 0 213.333 95.51 213.333 213.334S629.824 576 512 576s-213.333-95.51-213.333-213.333S394.176 149.333 512 149.333z m0 64A149.333 149.333 0 1 0 512 512a149.333 149.333 0 0 0 0-298.667z" fill="currentColor"></path></svg><span>切换账号</span></a>
                    <a class="dropdown-item pl-4"><svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-3" style="display: inline-block;"><path d="M618.24 439.381333a152.746667 152.746667 0 0 1 0 216l-135.893333 135.893334a163.370667 163.370667 0 1 1-231.04-231.04l66.922666-66.944 45.269334 45.269333-66.944 66.944a99.370667 99.370667 0 1 0 140.522666 140.522667l135.893334-135.893334a88.746667 88.746667 0 0 0 0-125.482666z m182.528-197.589333a163.370667 163.370667 0 0 1 0 231.04L733.866667 539.776l-45.269334-45.248 66.944-66.944a99.370667 99.370667 0 1 0-140.522666-140.522667l-135.893334 135.893334a88.746667 88.746667 0 0 0 0 125.482666l-45.269333 45.269334a152.746667 152.746667 0 0 1 0-216l135.893333-135.893334a163.370667 163.370667 0 0 1 231.04 0z" fill="currentColor"></path></svg><span>备用网址</span></a>
                    <a class="dropdown-item pl-4"><svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-3" style="display: inline-block;"><path d="M225.173333 149.397333L227.264 149.333333c2.261333 0.042667 4.181333 0.213333 6.101333 0.597334l2.986667 0.725333 3.968 0.938667c23.893333 6.186667 70.186667 26.645333 97.792 45.653333a363.754667 363.754667 0 0 1 173.653333-44.458667c200.106667 0 362.901333 161.92 362.901334 360.96C874.666667 712.746667 711.872 874.666667 511.786667 874.666667 308.544 874.666667 149.333333 712.256 149.333333 504.938667c0-15.146667 7.530667-82.026667 14.186667-100.778667 1.813333-8.661333 12.565333-51.413333 53.717333-103.509333 1.493333-20.202667 3.626667-71.786667-14.208-108.672a33.984 33.984 0 0 1-2.453333-9.813334l-0.256-3.072-0.298667-2.666666a25.344 25.344 0 0 1 4.821334-15.744 27.306667 27.306667 0 0 1 19.370666-11.264l0.96-0.021334 2.090667-0.064zM512 213.333333c-66.410667 0-127.786667 21.674667-177.344 58.304-9.344-6.677333-18.773333-13.098667-28.266667-19.285333-11.84-7.68-20.906667-13.077333-27.2-16.192 2.197333 12.714667 3.285333 23.189333 3.285334 31.445333 0 7.701333-0.96 25.301333-2.858667 52.757334l-0.298667 4.373333A297.408 297.408 0 0 0 213.333333 512c0 164.949333 133.717333 298.666667 298.666667 298.666667s298.666667-133.717333 298.666667-298.666667-133.717333-298.666667-298.666667-298.666667z m-10.666667 170.666667a32 32 0 0 1 32 32v64a32 32 0 0 1-64 0v-64a32 32 0 0 1 32-32z m170.666667 0a32 32 0 0 1 32 32v64a32 32 0 0 1-64 0v-64a32 32 0 0 1 32-32zM263.765333 170.88c0.085333 0.789333 0.149333 1.557333 0.192 2.346667l0.192 1.429333-0.213333-3.413333-0.170667-0.362667z" fill="currentColor"></path></svg><span>客服热线</span></a>
                </div>
            </div>
        </van-overlay>
    </div>
</template>

<script>
    import {useStore} from 'vuex'
    import {useRoute, useRouter} from 'vue-router'
    import {computed, reactive, toRefs} from "vue";
    export default {
        name: "menus",
        setup(){
            const state = reactive({
                show: false
            });
            const store = useStore()
            const router = useRouter()
            const route = useRoute()
            const userInfo = computed(() => {
                return store.state.userInfo
            })
            const config = computed(() => {
                return store.state.config
            })
            const go=(path)=>{
                router.push({path:path})
            }
            return{
                ...toRefs(state),
                config,
                route,
                userInfo,
                go
            }
        }
    }
</script>

<style scoped lang="less">
    .dropdown-lay {
        z-index: 100;
        background-color: transparent;
    }

    .dropdown {
        position: absolute;
        z-index: 100;
        will-change: transform;
        top: 35px;
        right: 15px;
        width: 280px;
        padding: 0;
        border-radius: 3px;
        overflow: hidden;
        background-color: #ffffff;
        .cover {
            background: #fffeec;
            height: 130px;
            position: relative;
            overflow: hidden;
            z-index: -3;
        }

        .avatar {
            position: relative;
            width: 100px;
            left: 50%;
            border-radius: 0.5rem;
            margin-bottom: -30px;
            box-shadow: 2px 2px 16px 0 rgb(168 179 211 / 80%);
            transform: translate(-50%, -50%);
        }

        .account {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .5rem;
            font-weight: 500;
            color: #000;
        }

        .dropdown-item {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0.18rem .36rem;
            font-size: .4rem;
            color: #2a2824;
            border-left: 4px solid transparent;
            transition: all .3s;
            text-overflow: ellipsis;
            overflow: hidden;
            clear: both;
            font-weight: 300;
            svg{
                margin-right: 5px;
            }
        }
    }

    .dropdown:before {
        content: "";
        background: url('../../assets/images/logo-bg.png');
        opacity: .7;
        background-size: 4.55rem;
        position: absolute;
        width: 400%;
        height: 200%;
        top: -50%;
        left: -100%;
        z-index: -2;
        transform: rotate(40deg);
    }

    .dropdown:after {
        content: "";
        background-color: hsla(0, 0%, 100%, .8);
        position: absolute;
        left: 0;
        top: 130px;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
</style>
