<template>
    <div>
        <div  v-if="route.name==='home'" id="main-nav" style="z-index: 10000 !important; " class="main-nav-video-show">
            <a @click="go('/')" style="padding-right: 2.5%; color: white; font-size: 1.4em;">
                <span style="color: crimson">H</span>anime1<span style="color: crimson">.</span>me
            </a>
            <a @click="go('/category/'+item.id)" class="nav-item hidden-xs" :key="index" v-for="(item,index) in category">{{item.title}}</a>

            <menus></menus>
            <a @click="go('/search')" class="nav-icon pull-right"><span style="vertical-align: middle;" class="material-icons">search</span></a>
            <a class="nav-icon pull-right"><span style="vertical-align: middle;" class="material-icons">video_call</span></a>

            <div v-if="route.name==='home'" class="home-nav hidden-sm hidden-md hidden-lg"
                 style="position: absolute; top: 40px; z-index: 10001; color: white; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center;">
                <div  @click="go('/category/'+item.id)" v-for="(item,index) in category" style="display: inline-block; padding: 0 4%;" :key="index">
                    <a style="color: white; font-weight: normal; font-family: 'Trebuchet MS', sans-serif;">{{item.title}}</a>
                </div>
            </div>
        </div>
        <div v-else id="main-nav" style="z-index: 10000 !important; " class="main-nav-video-show">
            <a @click="go('/')" style="padding-right: 2.5%; color: white; font-size: 1.4em;">
                <span style="color: crimson">H</span>anime1<span style="color: crimson">.</span>me
            </a>
            <a class="nav-item hidden-xs" @click="go('/category/'+item.id)" :key="index" v-for="(item,index) in category">{{item.title}}</a>
            <menus></menus>
            <a @click="go('/search')" class="nav-icon pull-right"><span style="vertical-align: middle;" class="material-icons">search</span></a>
            <a class="nav-icon pull-right"><span style="vertical-align: middle;" class="material-icons">video_call</span></a>
        </div>
    </div>
</template>

<script>
    import {useStore} from 'vuex'
    import {useRoute, useRouter} from 'vue-router'
    import {computed, reactive, toRefs} from "vue";
    import menus from '@/components/menus/menus.vue'
    export default {
        name: "commonHeader",
        components:{menus},
        setup(){
            const state = reactive({
                show: false
            });
            const store = useStore()
            const router = useRouter()
            const route = useRoute()
            const userInfo = computed(() => {
                return store.state.userInfo
            })
            const config = computed(() => {
                return store.state.config
            })
            const category = computed(() => {
                return store.state.category
            })
            const go=(path)=>{
                router.push({path:path})
            }
            return{
                ...toRefs(state),
                userInfo,
                config,
                route,
                go,
                category
            }
        }
    }
</script>

<style scoped lang="less">
.home-nav{
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

</style>
