<template>
    <div>
        <div class="bottom-nav hidden-lg hidden-md white-theme-nav-bottom">
            <a @click="">
                <i style="font-size: 28px; margin-top: 10px; color: white" class="material-icons">home</i>
            </a>
            <a @click="goTo('/search')">
                <i style="font-size: 30px; margin-top: 9px;" class="material-icons">search</i>
            </a>
            <a @click="router.push({ path: '/searchVideo/日本排行' })">
                <i style="padding-left: 0px; font-size: 29px; margin-top: 9px;" class="material-icons-outlined">whatshot</i>
            </a>
            <a>
                <i style="font-size: 26px; margin-top: 11px;" class="material-icons-outlined">video_library</i>
            </a>
            <a @click.top="show=true" style="cursor: pointer;">
                <i style="padding-left: 2px; font-size: 29px; margin-top: 10px" class="material-icons">menu</i>
            </a>
        </div>
        <van-overlay class="dropdown-lay bottom-layer" :show="show" @click="show = false">
            <div class="wrapper" @click.stop>
                <div class="modal-menu">
                    <div class="modal-menu-header">
                        <h4 class="modal-title" style="text-align: center; font-weight: bold; margin: 0; padding: 0; margin-top: 5px; font-size: 18px;"> <i @click="show = false" class="material-icons pull-left no-select modal-close-btn">close</i>所有分類</h4>
                    </div>
                    <div class="modal-menu-body">
                        <van-grid column-num="2">
                            <van-grid-item @click.stop="router.push('/category/'+item.id)" :text="item.title" v-for="(item,index) in store.state.category" :key="index"/>
                        </van-grid>
                    </div>
                    <div class="modal-menu-header">
                        <h4 class="modal-title" style="text-align: center; font-weight: bold; margin: 0; padding: 0; margin-top: 5px; font-size: 18px;">友情鏈結</h4>
                    </div>
                </div>
            </div>
        </van-overlay>
    </div>
</template>

<script>
    import {useRouter} from 'vue-router'
    import {reactive, onMounted, toRefs, nextTick, computed} from 'vue'
    import {useStore} from 'vuex'
    export default {
        name: "footer-barr",
        setup(){
            const router=useRouter()
            const state=reactive({
                show:false
            })
            const store = useStore()
            const goTo=(path)=>{
                router.push(path)
            }
            return{
                goTo,
                router,
                ...toRefs(state),
                store
            }
        }
    }
</script>

<style scoped lang="less">
.bottom-nav{
    z-index: 10000 !important; border-top: 1px solid #222222;
}
    .bottom-layer{
        z-index: 20000;
       background-color: #222222;
        color: #ffffff;
        .modal-menu-header{
            height: 65px;
            padding: 15px;
            .modal-close-btn{
                color: #ffffff;
            }
        }
        /deep/ .van-grid-item__content--center{
            background-color:#222222;
            span{
                color: #ffffff;
            }

        }
    }
</style>
