<template>
    <div style="position: relative;margin-top: 1.33333rem">
        <video
                controls
                crossorigin
                playsinline
                id="video"
                :poster="videoInfo.imgUrl"
                @ended="watchEnd"
        >
            <source
                    size="720"
                    :src="videoInfo.videoUrl"
                    v-if="videoInfo.videoUrl.slice(-4) === '.mp4'"
                    type="video/mp4"
            />
            <track
                    default
                    kind="captions"
                    label="English captions"
                    src="/path/to/english.vtt"
                    srclang="zh"
            />
        </video>
        <div class="no-vip" v-if="isEnd&&(!isVip)">
            <img :src="videoInfo.imgUrl">
            <div class="over-layer">
                <div style="width: 100%;text-align: center">
                    <p style="width: 100%">开通vip或可以观看完整版哦</p>
                    <div style="display: flex;justify-content: center">
                        <van-button style="border: none" @click="router.push('/member')" color="#ed3323" type="primary">开通vip</van-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="adv-wrap hidden-md hidden-lg" v-if="adv1&&videoInfo.playAdv">
            <i style="vertical-align: middle; color: white;" class="material-icons" @click="adv1=false">close</i>
            <img :src="config.resUrl+videoInfo.playAdv.imgUrl">
        </div>
    </div>
</template>

<script>
    import {reactive, onMounted, computed, toRefs, nextTick, ref,watch,onBeforeUnmount} from 'vue'
    import Plyr from "plyr";
    import 'plyr/dist/plyr.css'
    import {useRoute, useRouter} from 'vue-router'
    import {useStore} from 'vuex'
    export default {
        name: "player",
        props:{
            videoInfo:{
                videoUrl:''
            },
            isPay:false,
            isVip:false
        },
        setup(props){
            const state=reactive({
                isEnd:false,
                adv1:true
            })
          const router = useRouter()
          const route = useRoute()
            const store = useStore()
            const config = computed(() => {
                return store.state.config
            })
            const palym3u8 = (src) => {
                let video=document.getElementById('video')
                if (video)
                {
                    var Hls = window.Hls
                    var hls = new Hls()
                    var url = src
                    if (Hls.isSupported()) {
                        hls.loadSource(url)
                        hls.attachMedia(video)
                        hls.on(Hls.Events.MANIFEST_PARSED, function () {
                            // video.play()
                        })
                    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                        video.src = url
                        video.addEventListener('canplay', function () {
                            // video.play()
                        })
                    }
                }
            }
            const playMp4 = () => {
                let video=document.getElementById('video')
                if (video)
                {
                    if (p)
                    {
                        p.destroy()
                    }
                  var  p = new Plyr(video, {
                        ratio: '16:9',
                        fullscreen: {enabled: true, fallback: true, iosNative: true},
                    })
                }
            }
            const watchEnd=()=>{
                state.isEnd=true
            }
            onMounted(()=>{
                nextTick(()=>{
                  state.isEnd=false
                    playMp4()
                    if (props.videoInfo.videoUrl.slice(-4) === 'm3u8') {
                            palym3u8(props.videoInfo.videoUrl)
                    }
                })
            })
            return {
                ...toRefs(state),
                watchEnd,
                router,
                route,
                config
            }
        }
    }
</script>

<style scoped lang="less">
    .no-vip{
      line-height: var(--plyr-line-height,1.7);width: 100%;display: flex;align-items: center;top: 0;
        flex-wrap: wrap;
        position: absolute;
        .over-layer{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            height: 100%;
            background: hsla(0,0%,100%,.4);
            p{
                font-size: .4rem;
                color: #ffffff;
                margin-bottom: 10px;
            }

        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .adv-wrap{
        line-height: var(--plyr-line-height,1.7);width: 100%;display: flex;align-items: center;top: 0;
        flex-wrap: wrap;
        position: absolute;
        i{
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
</style>
