<!--
 * 严肃声明：
 * 开源版本请务必保留此注释头信息，若删除我方将保留所有法律责任追究！
 * 本系统已申请软件著作权，受国家版权局知识产权以及国家计算机软件著作权保护！
 * 可正常分享和学习源码，不得用于违法犯罪活动，违者必究！
 * Copyright (c) 2020 陈尼克 all rights reserved.
 * 版权所有，侵权必究！
 *
-->

<template>
  <div id="app">
    <router-view class="router-view" v-slot="{ Component }">
      <transition :name="transitionName">
        <component :is="Component" />
      </transition>
    </router-view>
  </div>
</template>

<script>
  import './assets/style/common.css'
  import './assets/style/index.css'
  import './assets/style/base.less'
  import './assets/style/app.css'
import { reactive, toRefs } from 'vue'
import { useRouter } from 'vue-router'
import {Register,GetUserInfo} from "./api/user";
import {Local} from "./utils/common";
  import { useStore  } from 'vuex'

  export default {
    setup() {
      const router = useRouter()
      const state = reactive({
        transitionName: 'slide-left'
      })
      const store = useStore()
      router.beforeEach((to, from) => {
        if (to.meta.index > from.meta.index) {
          state.transitionName = 'slide-left' // 向左滑动
        } else if (to.meta.index < from.meta.index) {
          // 由次级到主级
          state.transitionName = 'slide-right'
        } else {
          state.transitionName = ''   // 同级无过渡效果
        }
      })
      if (!Local.get('accessToken'))
      {
        Register({"devType":"3"}).then((res)=>{
          if (res.code==0)
          {
            Local.set('accessToken',res.result.id)
          }
        })
      }
      else {
        store.dispatch('updateUserInfo')
      }
      store.dispatch('updateConfig')
      store.dispatch('getCategory')
      return {
        ...toRefs(state),
        store
      }
    }
  }
</script>

<style>

</style>
