<template>
    <div>
        <header-nav/>
        <div id="loginModal" class="list-rows-wrapper" style="padding: 0 4%; color: white;">
            <form>

                <input type="hidden" name="_token" value="GEfNbL9VXDxKTASDQ9L4gfJub6wNSUw9BjJWndrV">


                <h4 style="font-size: 1.7em;">登入帳戶</h4>
                <div style="font-size: 1.1em;">
                    <span style="font-weight: 500;">在 <span style="font-weight: bold">Hanime1.me</span> 上享受最愛的影片、崁入原創內容，並與全世界觀眾分享您的影片。</span>
                    <div class="form-group" style="margin-top: 20px;">
                        <input v-model="mobile" style="background-color: #131313; color: gray;" type="tel" class="form-control" name="phone" id="phone" placeholder="电话号码" required="">
                    </div>
                    <div class="form-group">
                        <input v-model="code" style="background-color: #131313; color: gray;" type="text" class="form-control" name="code" id="code" placeholder="验证码" required="">
                        <button :disabled="isDisabled" @click="getCode" :class="isDisabled?'disable':''" class="send-code">{{ isDisabled?count+'s后获取':'发送验证码' }}</button>
                    </div>

                    <div style="margin-top: 20px; margin-bottom: 20px; font-size: 0.95em">
                        <a target="_blank" style="cursor: pointer; text-decoration: none; font-weight: 500;">忘記密碼？</a>
                    </div>

                    <button @click="login" style="height: 45px; margin-top: 10px; font-size: 1em; background-color: red !important; border-color: red !important;" type="submit" class="btn btn-info" name="submit">登入</button>
                    <div style="margin-top: 20px; font-size: 0.95em">
                        <span style="font-weight: 400">尚未擁有帳戶？</span>&nbsp;<a style="cursor: pointer; text-decoration: none; font-weight: 500;">註冊</a>
                    </div>
                </div>

            </form>
        </div>
        <van-overlay :show="show" @click="show = false">
            <div class="wrapper" @click.stop>
                <div class="block" />
            </div>
        </van-overlay>
    </div>
</template>

<script>
    import headerNav from '@/components/header/header-nav'
    import {reactive, onMounted, computed, toRefs, nextTick, ref} from 'vue'
    import {Login,GetLoginCode} from "../../api/user";

    export default {
        name: "index",
        components: {headerNav},
        setup(){
            const state=reactive({
                mobile:'',
                code:'',
                count:0,
                isDisabled:false
            })
          const login=()=>{
              Login({mobile:state.mobile,code:state.code}).then((res)=>{

              })
          }
          let timer=null;
          const  countTime=()=>{
                const TIME_COUNT = 60;
                if (!timer) {
                    state.count = TIME_COUNT;
                    state.isDisabled = true;
                    timer =  setInterval(() => {
                        if (state.count > 0 && state.count <= TIME_COUNT) {state.count--;
                        }
                        else {
                            state.isDisabled = false;
                            clearInterval(timer);timer = null;
                        }
                    }, 1000);
                }
            }
            const getCode=()=>{
              countTime()
                GetLoginCode({mobile:state.mobile,type:'1'}).then(()=>{

                })
            }
          return {
              ...toRefs(state),
              login,
              getCode
          }
        }
    }
</script>

<style scoped lang="less">
.form-group{
    position: relative;
    .send-code{
        position: absolute;
        top: 1px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height:calc(100% - 2px);
        background-color: #d58512;
        right: 1px;
        border: none;
        outline: none;
    }
    .send-code.disable{
        background-color: #999;
    }
}
</style>
