<template>
    <div>
        <van-loading color="#1989fa" />
        <common-header/>
        <div class="main-wrap">
            <div class="profile-info title-with-avatar">
                <img class="avatar" src="http://u23.ayqy.org/user/def_head.png" width="100">
                <div class="title-box"><h3>匿名_ZE7T59H</h3>
                    <div class="inactive-color"><span>加入於 1月前</span></div>
                </div>
            </div>
            <nav class="profile-nav">
                <ul>
                    <li :class="tabIndex==0?'active':''" @click="switchTab(0)">
                        <a>
                            <svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="ml-2 ml-sm-0 mr-2"
                                 style="display: inline-block;">
                                <path d="M512 149.333333c200.298667 0 362.666667 162.368 362.666667 362.666667s-162.368 362.666667-362.666667 362.666667S149.333333 712.298667 149.333333 512 311.701333 149.333333 512 149.333333z m0 64c-164.949333 0-298.666667 133.717333-298.666667 298.666667s133.717333 298.666667 298.666667 298.666667 298.666667-133.717333 298.666667-298.666667-133.717333-298.666667-298.666667-298.666667z m84.053333 105.386667l45.226667 45.226667L557.269333 448H672v64h-128v53.333333h128v64h-128v85.333334h-64v-85.333334h-128v-64h128V512h-128v-64h114.752l-84.053333-84.053333 45.269333-45.226667L512 402.730667l84.053333-84.053334z"
                                      fill="currentColor"></path>
                            </svg>
                            <span>钻石购买</span><span class="count">0</span></a></li>
                    <li :class="tabIndex==1?'active':''" class="" @click="switchTab(1)">
                        <a>
                            <svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="ml-2 ml-sm-0 mr-2"
                                 style="display: inline-block;">
                                <path d="M552.96 200.128a64 64 0 0 1 8.213333 8.213333L682.666667 354.133333l134.016-98.965333a64 64 0 0 1 100.117333 66.986667L789.333333 832H234.666667L107.2 322.176a64 64 0 0 1 100.117333-67.008L341.333333 354.133333l121.493334-145.792a64 64 0 0 1 90.154666-8.213333zM512 249.301333l-160.128 192.170667-182.570667-134.826667L284.629333 768h454.741334l115.328-461.354667-182.570667 134.826667L512 249.301333z m149.333333 400.64v68.266667H362.666667v-68.266667h298.666666z"
                                      fill="currentColor"></path>
                            </svg>
                            <span>会员购买</span><span class="count"></span></a></li>
                </ul>
                <a @click="showPopover=true" class="right text-nowrap">
                    <svg viewBox="0 0 1024 1024" width=".6rem" height=".6rem" class="mr-2"
                         style="display: inline-block;">
                        <path d="M448.362667 166.826667l113.6 0.170666a64 64 0 0 1 63.893333 63.914667l0.042667 18.517333a301.461333 301.461333 0 0 1 62.101333 34.88l15.210667-8.746666a64 64 0 0 1 87.296 23.381333l56.938666 98.304a64 64 0 0 1-19.989333 85.397333l-3.477333 2.133334-15.274667 8.810666c2.624 24.234667 2.304 48.853333-1.130667 73.322667l10.794667 6.250667a64 64 0 0 1 25.216 84.117333l-1.770667 3.306667-53.333333 92.373333a64 64 0 0 1-84.117333 25.216l-3.328-1.792-14.741334-8.533333a298.538667 298.538667 0 0 1-59.626666 33.28v25.386666a64 64 0 0 1-59.989334 63.957334l-4.074666 0.128-113.6-0.170667a64 64 0 0 1-63.893334-63.893333l-0.064-30.613334a302.613333 302.613333 0 0 1-50.069333-29.696l-27.221333 15.658667a64 64 0 0 1-87.296-23.402667l-56.938667-98.282666a64 64 0 0 1 19.989333-85.418667l3.477334-2.133333 27.690666-15.936c-2.133333-20.266667-2.24-40.768-0.192-61.226667l-30.741333-17.770667A64 64 0 0 1 158.506667 393.6l1.792-3.306667 53.333333-92.373333a64 64 0 0 1 84.117333-25.216l3.306667 1.792 26.794667 15.466667a297.984 297.984 0 0 1 56.426666-34.666667v-24.362667a64 64 0 0 1 59.989334-63.978666l4.074666-0.128z m-0.085334 64l0.064 65.066666-36.778666 17.301334c-15.744 7.402667-30.613333 16.533333-44.309334 27.221333l-34.005333 26.538667-62.570667-36.138667-1.6-0.896-53.333333 92.373333 66.56 38.421334-4.138667 41.152c-1.6 15.978667-1.536 32.106667 0.149334 48.085333l4.394666 41.429333-63.786666 36.736 56.917333 98.282667 63.338667-36.416 33.6 24.597333a237.994667 237.994667 0 0 0 39.466666 23.424l36.736 17.258667 0.128 71.168 113.578667 0.170667-0.064-68.16 39.466667-16.426667a234.538667 234.538667 0 0 0 46.826666-26.112l33.578667-24.128 50.56 29.184 53.290667-92.394667-48.128-27.818666 5.973333-42.688c2.666667-19.093333 2.965333-38.421333 0.896-57.6l-4.48-41.450667 51.456-29.696-56.938667-98.282667-51.2 29.504-33.621333-24.512a238.037333 238.037333 0 0 0-48.938667-27.498666l-39.381333-16.341334-0.128-61.184-113.578667-0.170666z m127.381334 183.722666a128.170667 128.170667 0 0 1 46.890666 174.933334 127.829333 127.829333 0 0 1-174.762666 46.848 128.170667 128.170667 0 0 1-46.869334-174.933334 127.829333 127.829333 0 0 1 174.741334-46.848z m-119.317334 78.805334a64.170667 64.170667 0 0 0 23.466667 87.573333 63.829333 63.829333 0 0 0 87.296-23.402667 64.170667 64.170667 0 0 0-20.266667-85.589333l-3.2-1.984-3.306666-1.770667a63.829333 63.829333 0 0 0-83.989334 25.173334z"
                              fill="currentColor"></path>
                    </svg>
                    <span>設定</span>
                </a>
                <van-popover v-model:show="showPopover" :actions="actions" placement="bottom-end" @select="onSelect">
                    <template #reference>

                    </template>
                </van-popover>
            </nav>
            <div class="tab-content">
                <div class="list list-diamon" v-if="tabIndex==0">
                    <van-grid :gutter="10" column-num="3">
                        <van-grid-item v-for="(item,index) in coinList" :key="index" @click="selectOrder(item)">
                            <p class="color-yellow">钻石{{item.coins}}</p>
                            <p>￥{{item.price}}</p>
                        </van-grid-item>
                    </van-grid>
                </div>
                <div class="list" v-if="tabIndex==1">
                    <ul class="vip-list">
                        <li v-for="(item,index) in vipList" :key="index" class="vip-item" :class="`vip-card${index+1}`">
                            <div class="content" style="width: 100%" :style="{backgroundImage:`url(${config.resUrl}${item.imgUrl})`}">
                                <div class="item-title">
                                    <h1 class="mb-0 vip-item-tit">VIP</h1>
                                    <div>
                                        <h2 class="mb-0 vip-ititle">{{item.title}}</h2>
                                        <h6 class="mb-0 vip-title-h6">{{item.subTitle}}</h6>
                                    </div>
                                </div>
                                <div class="describe">
                                    <div class="describe-item vip2_pcol__3ZbSV">
                                        <div class="no-font mr-2">
                                            <svg viewBox="0 0 1024 1024" width=".7rem" height=".7rem"
                                                 style="display: inline-block;">
                                                <path d="M490.261333 173.44a49.066667 49.066667 0 0 1 64.064 19.178667l1.664 3.093333 87.850667 177.813333 196.352 28.501334a49.066667 49.066667 0 0 1 29.717333 81.066666l-2.538666 2.645334L725.333333 624l33.536 195.349333a49.066667 49.066667 0 0 1-68.010666 53.269334l-3.157334-1.514667L512 778.858667l-175.701333 92.266666a49.066667 49.066667 0 0 1-71.637334-48.426666l0.469334-3.328L298.666667 624.021333 156.629333 485.76a49.066667 49.066667 0 0 1 23.893334-83.114667l3.285333-0.597333 196.352-28.501333 87.850667-177.813334a49.066667 49.066667 0 0 1 22.250666-22.272z"
                                                      fill="currentColor"></path>
                                            </svg>
                                        </div>
                                        <div>
                                            <div class="vip-discont">无限观看</div>
                                            <div class="vip-pstitle">观看VIP视频不受限制</div>
                                        </div>
                                    </div>
                                    <div class="describe-item vip2_pcol__3ZbSV">
                                        <div class="no-font mr-2">
                                            <svg viewBox="0 0 1024 1024" width=".7rem" height=".7rem"
                                                 style="display: inline-block;">
                                                <path d="M490.261333 173.44a49.066667 49.066667 0 0 1 64.064 19.178667l1.664 3.093333 87.850667 177.813333 196.352 28.501334a49.066667 49.066667 0 0 1 29.717333 81.066666l-2.538666 2.645334L725.333333 624l33.536 195.349333a49.066667 49.066667 0 0 1-68.010666 53.269334l-3.157334-1.514667L512 778.858667l-175.701333 92.266666a49.066667 49.066667 0 0 1-71.637334-48.426666l0.469334-3.328L298.666667 624.021333 156.629333 485.76a49.066667 49.066667 0 0 1 23.893334-83.114667l3.285333-0.597333 196.352-28.501333 87.850667-177.813334a49.066667 49.066667 0 0 1 22.250666-22.272z"
                                                      fill="currentColor"></path>
                                            </svg>
                                        </div>
                                        <div>
                                            <div class="vip-discont">{{item.tag}}</div>
                                            <div class="vip-pstitle">购买金币视频折扣优惠,可与观影券叠加</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vip-footer w-100 flex-row align-items-center">
                                    <div class="vip-price">
                                        <del><span>原价¥{{item.price}}</span></del>
                                        <span class="vip-dprice">¥{{item.disCount}}</span>
                                    </div>
                                    <div style="display:flex;align-items: center">
                                        <van-button round  plain type="primary" size="small" @click="selectOrder(item)">立即购买</van-button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <van-dialog v-model:show="showDetail" title="个人资料" @confirm="update" show-cancel-button>
                <div class="body" style="padding: 10px;color: #8e9194">
                    <p style="font-size:.3rem">您的名稱及頭像將在留言時展示，自我介紹則可在個人主頁裡看到。</p>
                    <van-form @submit="onSubmit">
                        <van-cell-group inset>
                            <van-field
                                    label-width="60px"
                                    v-model="nickName"
                                    name="昵称"
                                    label="昵称"
                                    placeholder="昵称"
                                    :rules="[{ required: true, message: '请填写昵称' }]"
                            />
                            <van-field
                                    label-width="60px"
                                    v-model="introduction"
                                    type="textarea"
                                    label="自我介绍"
                                    placeholder="自我介绍"
                                    rows="1"
                                    autosize
                                    :rules="[{ required: true, message: '请填写自我介绍' }]"
                            />
                        </van-cell-group>
                    </van-form>
                </div>

            </van-dialog>
            <van-popup v-model:show="showOder" style="width:calc(100% - 10px)">
                <div class="modal-head">
                    <h5>购买</h5>
                    <div class="icon" @click="showOder=false">
                        <van-icon name="cross" size="20"/>
                    </div>
                </div>
                <div class="modal-body">
                    <van-cell-group inset>
                        <van-field :label="tabIndex?'商品':'钻石'" v-model="goods.coins" readonly/>
                        <van-field label="价格" v-model="goods.price" readonly/>
                    </van-cell-group>
                </div>
                <div class="modal-footer">
                    <button @click="paySubmit(item)" v-for="(item,index) in channelList" :key="index" class="btn"><img
                            width="20" class="mr-2"
                            :src="config.resUrl+item.imgUrl"><span>{{item.title}}</span>
                    </button>
                </div>
            </van-popup>
            <van-popup v-model:show="showOder" style="width:calc(100% - 10px)">
                <div class="modal-head">
                    <h5>购买</h5>
                    <div class="icon" @click="showOder=false">
                        <van-icon name="cross" size="20"/>
                    </div>
                </div>
                <div class="modal-body">
                    <van-cell-group inset>
                        <van-field :label="tabIndex?'商品':'钻石'" v-model="goods.coins" readonly/>
                        <van-field label="价格" v-model="goods.price" readonly/>
                    </van-cell-group>
                </div>
                <div class="modal-footer">
                    <button @click="paySubmit(item)" v-for="(item,index) in channelList" :key="index" class="btn"><img
                            width="20" class="mr-2"
                            :src="config.resUrl+item.imgUrl"><span>{{item.title}}</span>
                    </button>
                </div>
            </van-popup>
        </div>
    </div>
</template>

<script>
    import commonHeader from '@/components/common-header.vue'
    import {updateUserInfo} from '../../api/user'
    import {getCoinItem, getChannelList, payOrder, getVipItem} from "../../api/page";
    import {computed, reactive, ref, toRefs} from 'vue';
    import {Local} from "../../utils/common";
    import {Toast} from 'vant'
    import {useStore} from 'vuex'

    export default {
        name: "index",
        components: {commonHeader},
        setup() {
            const state = reactive({
                showDetail: false,
                nickName: '',
                introduction: '',
                tabIndex: 0,
                coinList: [],
                vipList: [],
                showOder: false,
                goods: {
                    price: '',
                    coins: '',
                    id: ''
                },
                channelList: []
            })
            const showPopover = ref(false);
            const store = useStore()
            // 通过 actions 属性来定义菜单选项
            const actions = [
                {text: '更新资料'},
                {text: '绑定手机'},
                {text: '上传头像'},
            ];
            const config = computed(() => {
                return store.state.config
            })
            const onSelect = (action) => {
                if (action.text == '更新资料') {
                    state.showDetail = true
                }
            }
            const update = () => {//更新信息
                Toast.loading({
                    message: '加载中...',
                    forbidClick: true,
                });
                updateUserInfo({
                    userId: store.state.userInfo.id||Local.get('accessToken'),
                    nickName: state.nickName,
                    introduction: state.introduction,
                    headUrl: '',
                    sex: '1'
                }).then((res) => {
                   // Toast.clear()
                })
            }
            const getCoinList = () => {//获取钻石列表
                getCoinItem().then((res) => {
                    if (res.success) {
                        state.coinList = res.result
                    }
                })

            }
            const getVIPList = () => {
                getVipItem().then((res) => {
                    state.vipList = res.result
                })
            }
            getCoinList()
            const switchTab = (index) => {
                Toast.loading({
                    duration: 0,
                    message: 'Loading...',
                    forbidClick: true,
                });
                state.tabIndex = index
                if (state.tabIndex) {
                    getVIPList()
                } else {
                    getCoinList()
                }
            }
            const selectOrder = (item) => {
                state.goods.price = state.tabIndex?item.disCount:item.price
                state.goods.coins =state.tabIndex?item.title:item.coins
                state.goods.id = item.id
                state.showOder = true
            }
            const paySubmit = (item) => {
                let winOpen = window.open("", "_blank");
                payOrder({
                    "userId": store.state.userInfo.id,
                    "itemId": state.goods.id,
                    "type": state.tabIndex == 0 ? '0' : '1',
                    "channelId": item.id
                }).then((res) => {
                    if (res.success)
                    {
                        winOpen.location='http://api.uzhuang.com/api/pay/page?token='+res.result
                    }
                    else {
                        winOpen.close()
                    }
                })
            }

            getChannelList().then((res) => {
                state.channelList = res.result
            })
            return {
                actions,
                onSelect,
                showPopover,
                ...toRefs(state),
                update,
                switchTab,
                selectOrder,
                paySubmit,
                config
            }
        },
    }
</script>

<style scoped lang="less">
    .main-wrap {
        margin-top:30px;
        padding: 0 15px;
        padding-bottom: 5rem;
    }

    .profile-info {
        display: flex;
        align-items: center;
        min-height: 100px;

        .avatar {
            margin-right: 1rem;
            border-radius: 50%;
            box-shadow: 2px 2px 16px 0 rgb(17 18 20 / 80%);
        }

        .title-box {
            color: #ffffff;
        }

        .inactive-color {
            color: #8e9194;
        }
    }

    .profile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li:not(:last-child) {
            margin-right: .75rem;
        }

        li {
            display: inline-block;
            vertical-align: middle;
            list-style: none;

            > a {
                position: relative;
                display: flex;
                height: 1.5rem;
                align-items: center;
                color: #b8babc;
                transition: color .3s ease;
            }

            .count {
                color: #8e9194;
                margin-left: 0.45rem;
            }
        }

        .active {
            > a:before {
                content: "";
                position: absolute;
                background: #1db954;
                left: 0;
                bottom: 0;
                height: 0.09rem;
                width: 100%;
                opacity: 1;
                border-radius: 100px;
                transition: all .3s;
            }
        }

        .right {
            display: flex;
            align-items: center;
            color: #b8babc;
        }
    }

    .van-cell-group--inset {
        margin: 0 !important;
    }

    .tab-content {
        margin-top: 10px;

        /deep/ .van-grid-item__content {
            border-radius: 5px;
            background-size: 100% auto;
            .van-button {
                background-color: transparent;
                color: #ffffff;
                border-color: #ffffff;
                margin-top: 10px;
                width: 100%;
            }
        }
        /deep/ .list-diamon .van-grid-item__content{
            display: flex;
            align-items: center;
            background-image: url("../../assets/images/icon_diamond.png");
            justify-content:space-between;
            height: 2.75rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
        /deep/ .van-grid-item__content--surround:after {
            border-width: 0;
        }
    }

    .modal-head {
        padding: 0 10px;

        .icon {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .modal-footer {
        display: flex;

        .btn {
            display: flex;
            justify-content: center;
            flex: 1;
            padding: 0.3rem .6rem;
            border: 1px solid #1ed760;
            background-color: #ffffff;
        }

        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        .Buy_buy-btns__-wapt button {
            background-color: #fff;
            padding: 0.5rem 1rem;
            border: 1px solid #1ed760;
            margin-bottom: 1rem;
            text-align: center;
            transition: all .3s ease;
        }
    }

    .item-title {
        display: flex;
        width: 100%;

        .vip-item-tit {
            font-size: .9rem;
            line-height: .9rem;
            margin-right: 0.3rem;
        }

        .vip-ititle {
            font-size: .46rem;
            line-height: .46rem;
        }

        .vip-title-h6 {
            font-size: .4rem;
            line-height: .4rem;
            margin-top: 0.16rem;
        }
    }

    .describe {
        width: 100%;

        .describe-item {
            display: flex;
            align-items: center;
        }
    }
    .vip-footer{
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
        .vip-price {
            display: flex;
            align-items: center;
            font-size: .48rem;
            margin-right: 0.36rem;
            del span{
                font-size: .4rem;
            }
        }
        .vip-dprice {
            font-size: .6rem;
            margin-left: 5px;
        }
        .vip2_btn__1lmUP{
            text-align: center;
            transition: all .3s ease;
            color: #fff;
            background-color: transparent;
            border: 2px solid #ffffff;
            border-radius: 1rem;
        }

    }
    .vip-item{
        width: 100%;
        padding: 0 10px;
        margin-top: 10px;
        .content{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    }
   .vip-card1 .content{
        background-image: url("../../assets/images/bg_vip1.png")!important;
    }
    .vip-card2 .content{
        background-image: url("../../assets/images/bg_vip2.png")!important;
    }
    .vip-card3 .content{
        background-image: url("../../assets/images/bg_vip3.png")!important;
    }
    .vip-card4 .content{
        background-image: url("../../assets/images/bg_vip4.png")!important;
    }
    .content{
        padding: .3rem;
        color: #ffffff;
        background-size: 100% 100%;
        svg{
            margin-right: .2rem;
        }
        h1,h2,h3,h4,h5{
            margin-top: 0;
            margin-bottom: 0;
        }
        .van-button {
            background-color: transparent;
            color: #ffffff;
            border-color: #ffffff;
            margin-top: 10px;
            width: 100%;
        }
    }

</style>
